body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: rgb(241, 247, 244);
  display: flex;
  flex-direction: column;
  color: rgb(9, 1, 54);
}
header {
  text-align: center;
}
.mainDiv {
  width: 350px;
  height: 500px;
  padding: 15px;
  flex: 1;
  border: 1px solid grey;
  border-radius: 12px;
  margin: auto;
  margin-top: 50px;
  background-color: rgb(185, 185, 241);
  background: #2980b9;
  background: -webkit-linear-gradient(to bottom, #ffffff, #6dd5fa, #2980b9);
  background: linear-gradient(to bottom, #ffffff, #6dd5fa, #2980b9);
}

.centerDiv {
  text-align: center;
}

.cloudImg {
  height: 170px;
  width: 170px;
  justify-content: space-between;
}
footer {
  text-align: center;
  margin-top: auto;
  display: flex;
}
.degNumber {
  font-size: 35px;
}
.cloudsDiv {
  flex: 1;
  margin: 5px;
  border-radius: 10px;
}
